<div class="cloud-section">
	<span class="cloud-text">
	    <h3>
	        {{name}}
	    </h3>
	    <p> {{description}}</p>
	</span>
    <img class="cloud-image" src="./images/cloud.svg"></img>
</div>
