<h2> Add a cloud.</h2>

<form method="post">
<input type="text" name="cloudName">
<input type="text" name="cloudDescription">
<input type="submit" value="Submit">
</form>

{{#each clouds}}
    {{> cloud}}
{{/each}}