/*
colors:

    offwhite: E9FAE3
    light blue: A6D9F7
    red: CA3C25
    other blue: 90BEDE
    beigey: DEF2C8
*/

body
{
    background-color: #A6D9F7;
}

h1, h2
{
    margin:50px 0;
    line-height:1;
    font-size:100px;
    color: #E9FAE3;
    text-shadow:-2px 0 0 rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

h2
{
    font-size: 200%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 10px;
    color: #E9FAE3;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #E9FAE3;
    background-color: #90BEDE;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #90BEDE;
}

.cloud-section {
    border-style: solid;
    border-color: silver;
    border-radius: 50px;
    background-color: #A6FFFF;
    margin:10px;
    padding:10px;
    display: inline-block;
}

.cloud-image {
    float: left;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
}

.cloud-text {
    display: inline-block;
    float:left;
    padding-right: 10px;
}